# dependencies
node_modules

# output
out
dist
*.tgz

# dotenv
.env
.env.*.local

# logs
logs
*.log

# caches
.eslintcache
.cache
*.tsbuildinfo

# coverage
coverage
*.lcov

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db
